.hacking-container {
    display: none;
    position: fixed;
    height: 35vh;
    width: calc(35vh * 2.02);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/html/images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#game {
    background-color: #000000;
    color: #20c20e;
    width: 80%;
    height: 86%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infobox {
    background: none;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
}

#gametable {
    height: 100%;
    width: 100%;
    border: 1px solid #d0f0d0;
    background-color: #000000;
    text-align: center;
    margin: 0px;
}

#gametable td,
#gametable th {
    padding: 2px 11px;
    margin: 0px;
}

#gametable td {
    height: 2em;
    width: 2em;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    border: 1px solid #d0f0d0;
}

.sol {
    background-color: #d0f0d0;
    color: #178f0a;
}

.sol2 {
    background-color: #d0f0d0;
    color: #111111;
}

audio {
    display: none;
}
