@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.progress-container {
    display: none;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(145deg, #000, #333);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 0 12px rgba(255, 0, 0, 0.6), 0 0 12px rgba(255, 0, 0, 0.6);
    border: 2px solid #000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0.9;
    animation: slideIn 0.5s ease-out;
}

#progress-label {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    animation: fadeIn 1s ease-in-out;
}

.progress-bar-container {
    background: #444;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
    animation: expand 0.5s ease-out;
}

#progress-bar {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #ff0000, #cc0000);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
    position: relative;
    animation: glow 1.5s ease infinite, fill 0.5s forwards ease-in-out;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 10px #ff0000, 0 0 20px #cc0000, 0 0 30px #ff0000, 0 0 40px #cc0000;
    }
    50% {
        box-shadow: 0 0 10px #cc0000, 0 0 20px #ff0000, 0 0 30px #cc0000, 0 0 40px #ff0000;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 0.9;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
